<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8"/>
        <title>Float Layout</title>
        <link rel="stylesheet" href="styles.css"/>
        <link rel="stylesheet" href="float.css">
    </head>
    <body>
        <header class="menu-container">
            <div class="menu">
                <div class="layout-container">
                    <div class="dropdown"><span>Float Layout ▾</span>
                        <ul class="layout-menu">
                            <li><a href="flexbox.html">Flexbox Layout</a></li>
                            <li><a href="float.html">Float Layout</a></li>
                            <li><a href="position.html">Position Layout</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div>by <a href="https://github.com/nightn" target="_blank">nightn</a></div>
            </div>
        </header>
        <div class="page">
            <div class="container">
                <div class="title">左侧 30%，右侧 70%</div>
                <div class="content one">
                    <div>1</div>
                    <div>2</div>
                </div>
            </div>

            <div class="container">
                <div class="title">左侧固定，右侧自适应</div>
                <div class="content two">
                    <div>1</div>
                    <div>2</div>
                </div>
            </div>

            <div class="container">
                <div class="title">右侧固定，左侧自适应</div>
                <div class="content three">
                    <div>1</div>
                    <div>2</div>
                </div>
            </div>

            <div class="container">
                <div class="title">左侧固定，右侧固定，中间自适应</div>
                <div class="content four">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                </div>
            </div>


            <div class="container">
                <div class="title">左侧固定，中间固定，右侧自适应</div>
                <div class="content five">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                </div>
            </div>

            <div class="hint">（提示：通过改变浏览器尺寸预览效果）</div>
        </div>
    </body>
</html>
